# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/tripuras/vcs"
PassengerBaseURI "/"
PassengerPython "/home/tripuras/virtualenv/vcs/3.11/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END